mat-card {
    margin-bottom: 16px;
}

h3 {
    margin: 0;
    font-weight: bold;
}

.changes {
    .change-content {
        margin: 8px 0;
        text-align: justify;
    }

    .type {
        border-radius: 50px;
        padding: 4px 8px;
        font-weight: bold;
        color: white;
        width: 130px;
        display: inline-block;
        text-align: center;
        margin-right: 16px;

        &.feature {
            background: #4caf50;
        }

        &.bug {
            background: #ff5722;
        }

        &.enhancement {
            background: #2196f3;
        }
    }
}

.margin-bottom {
    margin-bottom: 16px;
    display: block;
}
