<mat-selection-list disabled>
    <mat-list-option [selected]="preferences.jumpingRope">
        <img src="/assets/skipping-rope.png" alt="Image d'une corde à sauter">
        Corde à sauter
    </mat-list-option>
</mat-selection-list>

<div class="info">
    <p class="mat-caption">À l'avenir si vous souhaitez modifier ces informations, cliquez sur votre photo de profil (en
        haut à droite) 😎
    </p>
    <p class="mat-body-2">Si tout est bon pour vous, on peut passer à l'échauffement !</p>
</div>

<div class="cta-button">
    <button mat-raised-button color="accent" (click)="hot()">Je suis chaud !</button>
</div>