<ng-container *ngIf="session$ | async as session; else loading">
  <app-workout #workout [level]="level" (decideLevel)="decideNewLevel($event)">
    <app-workout-plan>
      <app-session-plan [session]="session"></app-session-plan>

      <app-training-objective (go)="workout.nextStep()">
        6 fois <b>10 répétitions</b> à <b>B1, A2, I</b> et <b>C1</b>. Si vous
        faites plus (jusqu'à 6 foix 15 répétitions), tant mieux.
      </app-training-objective>
    </app-workout-plan>

    <app-workout-doing>
      <app-session
        [session]="session"
        (done)="workout.onSessionDone($event)"
      ></app-session>
    </app-workout-doing>

    <app-workout-done>
      <app-session-done [session]="session"></app-session-done>
      <div class="cta-button">
        <button
          mat-raised-button
          color="primary"
          (click)="workout.onWorkoutDone(newLevel)"
        >
          Top !
        </button>
      </div>
    </app-workout-done>

    <app-workout-new-level>
      <app-next-level [level]="newLevel"></app-next-level>
    </app-workout-new-level>
  </app-workout>
</ng-container>

<ng-template #loading>
  <div class="loading">Chargement...</div>
</ng-template>
