:host {
    position: relative;
}

ul {
    overflow-y: auto;
    max-height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: 8px 0;

        img {
            width: 60px;
            justify-self: center;
            border-radius: 3px;
        }

        .exercise-description {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        .exercise-name {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }

    .exercise-rest,
    .exercise-sets {
        font-size: 0.8em;
        color: #9e9e9e;

        span:first-child {
            justify-self: center;
            text-transform: uppercase;

            &:before {
                content: "↳ ";
            }
        }
    }
}

.gradient-bottom-bg {
    display: block;
    position: absolute;
    height: 30px;
    width: 100%;
    background: linear-gradient(0deg, #fafafa 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0px;
}
