<ng-container *ngIf="(auth.user$ | async) as user">
    <h2>Bienvenue {{user.isAnonymous ? 'invité' : user.displayName}} !!</h2>

    <ng-container *ngIf="!user.isAnonymous && (profile$ | async) as profile">
        <h3 *ngIf="profile.level !== PLACEMENT_TEST">Vous etes actuellement au niveau {{profile.level}}</h3>
    </ng-container>
</ng-container>

<br>

<h2>Vos dernieres séances</h2>

<ng-container *ngIf="(sessions$ | async) as workouts; else loading">
    <app-last-sessions [workouts]="workouts"></app-last-sessions>

    <ng-container *ngIf="workouts.length > 0">
        <button mat-fab color="primary" (click)="goToTodaySession()" class="fab-cat-button">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button color="primary" [routerLink]="['/last-sessions']">
            Voir toutes les séances
        </button>
    </ng-container>
</ng-container>

<ng-template #loading>
    Chargement des séances...
</ng-template>