<div class="avatar">
    <ng-container *ngIf="(auth.user$ | async) as user">
        <div class="user-info">
            <h1>{{user.displayName}}</h1>
            <ng-container *ngIf="(profile$ | async) as profile">
                <button mat-button *ngIf="profile.level !== PLACEMENT_TEST" color="primary"
                    (click)="openDialog()">Niveau
                    {{newLevel || profile.level}}</button>
                <span class="member-since mat-caption">Membre depuis le {{profile.memberSince | date:'longDate'}}</span>
            </ng-container>
            <mat-divider></mat-divider>
        </div>
    </ng-container>
</div>

<form [formGroup]="formGroup" ngNativeValidate class="preferences">
    <p class="mat-caption section-titles">Équippement</p>
    <mat-slide-toggle formControlName="jumpingRope" labelPosition="before">
        <img src="/assets/skipping-rope.png" alt="Image de corde à sauter">
        Corde à sauter
    </mat-slide-toggle>
    <mat-slide-toggle labelPosition="before" disabled>
        <img src="/assets/pull-up.png" alt="Image d'une barre de traction">
        Barre de traction
    </mat-slide-toggle>
    <mat-divider></mat-divider>

    <p class="mat-caption section-titles">Système</p>
    <mat-slide-toggle formControlName="notifications" labelPosition="before">
        <img src="/assets/bell.png" alt="Image d'une notifications">
        Notifications push
    </mat-slide-toggle>
</form>

<mat-divider></mat-divider>
<br>

<button mat-button color="warn" disabled>
    Supprimer mes informations
</button>