$grey: #9e9e9e;

.user-info {
    text-align: center;

    .member-since {
        display: block;
        color: $grey;
        margin-bottom: 16px;
    }
}

.section-titles {
    text-transform: uppercase;
    font-weight: bold;
    color: $grey;
    margin-bottom: 0;
}

.preferences {
    mat-slide-toggle {
        margin: 16px 0;
    }

    img {
        width: 32px;
    }
}

::ng-deep .mat-list-text {
    flex-direction: row !important;
    align-items: center;

    img {
        margin-right: 16px !important;
    }
}

mat-slide-toggle {
    width: 100%;

    ::ng-deep .mat-slide-toggle-label {
        justify-content: space-between;

        .mat-slide-toggle-content {
            display: flex;
            align-items: center;
            font-size: 16px;

            img {
                margin: 0 8px;
            }
        }
    }
}
