/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width-dialog {
    .mat-dialog-content {
        padding: 0 5px;
    }

    .mat-dialog-actions {
        padding: 0;
    }
}

/**  Globals helper classes */

.cta-button {
    display: flex;
    justify-content: center;
}

.fab-cat-button {
    position: absolute !important;
    right: 16px;
    bottom: 16px;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.flip-vertically {
    transform: scaleX(-1);
}
