/** Sidenav **/

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 300px;
}

::ng-deep .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column;

    mat-nav-list {
        flex: 1;

        mat-icon {
            margin-right: 16px;
        }

        .list-item-active:not(.mat-list-item-disabled) {
            font-weight: bold;
            color: #3f51b5;
            background: rgba(0, 0, 0, 0.04);
        }
    }
}

.mat-list-item-disabled {
    color: #e0e0e0 !important;
    background-color: inherit;
}

.nav-header {
    text-align: center;
    padding-top: 20px;
    background: #fafafa;
    position: relative;

    .version-number {
        position: absolute;
        text-align: center;
        width: 280px;
        bottom: 0;
        color: white;
        font-size: 0.8em;
    }

    img {
        margin-bottom: -5px;
    }
}

.logout button {
    $logout-margin: 5px;
    width: calc(100% - #{$logout-margin * 2});
    margin: $logout-margin;
}

/** Toolbar **/
$google-avatar-size: 32px;

.user-image {
    border-radius: 50%;
    height: $google-avatar-size;
    border: 1px solid;
}

/** App Content */
$app-content-padding: 5px;
$toolbar-mobile-height: 56px;
$toolbar-desktop-height: 64px;

.app-content {
    padding: $app-content-padding;
    height: calc(100vh - #{$toolbar-desktop-height + ($app-content-padding * 2)});
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .app-content {
        height: calc(100vh - #{$toolbar-mobile-height + ($app-content-padding * 2)});
    }
}
