<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" mode="over">
        <div class="nav-header">
            <span class="version-number">v{{version}}</span>
            <img src="/assets/main-logo.png" alt="Main logo">
        </div>

        <mat-nav-list>
            <ng-container *ngFor="let items of menu; let last = last">
                <a mat-list-item *ngFor="let item of items" [routerLink]="item.path" [disabled]="!item.path"
                    (click)="drawer.toggle()" routerLinkActive="list-item-active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                    {{item.name}}
                </a>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-nav-list>

        <div class="logout">
            <button mat-flat-button color="warn" (click)="logout()">Se déconnecter</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Méthode Lafay</span>
            <span class="fill-remaining-space"></span>
            <ng-container *ngIf="(auth.user$ | async) as user">
                <img *ngIf="!user.isAnonymous" [src]="user.photoURL" alt="User image" class="user-image">
            </ng-container>
        </mat-toolbar>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>