/** Sidenav **/

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 300px;
}

::ng-deep .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column;

    mat-nav-list {
        flex: 1;

        mat-icon {
            margin-right: 16px;
        }

        .list-item-active:not(.mat-list-item-disabled) {
            font-weight: bold;
            color: #3f51b5;
            background: rgba(0, 0, 0, 0.04);
        }
    }
}

.mat-list-item-disabled {
    color: #e0e0e0 !important;
    background-color: inherit;
}

.nav-header {
    text-align: center;
    padding-top: 20px;
    background: #fafafa;
    position: relative;

    .version-number {
        position: absolute;
        text-align: center;
        width: 280px;
        bottom: 0;
        color: white;
        font-size: 0.8em;
    }

    img {
        margin-bottom: -5px;
    }
}

.logout button {
    width: calc(100% - 10px);
    margin: 5px;
}

/** Toolbar **/

.user-image {
    border-radius: 50%;
    height: 32px;
    border: 1px solid;
}
