<h2>C'est parti pour votre 1ère séance !!</h2>

<div class="info">
    <p>Voici comment elle va se dérouler :</p>

    <ul>
        <li>On va commencer par prendre des informations sur vous :</li>
        <ul>
            <li>
                <p style="color: #ccc;text-decoration:line-through">Mensurations (TODO)</p>
            </li>
            <li>Matériel disponible (corde à sauter, barre de tractions...)</li>
            <li style="color: #ccc;text-decoration:line-through">Et finalement on va prendre des photos pour voir le
                progrès
                plus tard !</li>
        </ul>
        <li>Une fois ces étapes remplies, on va faire un échauffement</li>
        <li>Puis un test de placement</li>
    </ul>

    <p>À la fin de tout ceci, vous saurez par quel niveau vous commencerez votre séance de demain 💪🏼.
        Sachez que le niveau importe peu, ce n'est pas une compétition. Il vous sert juste, à VOUS, d'indicateur pour
        votre
        évolution.</p>
</div>

<div class="cta-button">
    <button mat-raised-button color="primary" (click)="start()">Cool, commencons !</button>
</div>